.productdisplay{
    display: flex;
    margin: 0 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-display-img-list img{
    height: 163px;

}
.productDisplay-main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0 70px;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;

}
.productdisplay-right-start{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-price{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.oldprice{
    color: #1c1c1c;
    text-decoration: line-through;
}
.newprice{
    color: #ff4141;
}
.productdisplay-right-size h1{
margin-top: 55px;
color: #656565;
font-size: 20px;
font-weight: 600;
}
.product-display-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-display-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border:  1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.btn{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px ;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.product-display-right-category{
    margin-top: 10px;
}
.product-display-right-category span{
    font-weight: 600;
}